if SHIELD_ZODIFY_DONGLE

config ZMK_KEYBOARD_NAME
    default "Zodify"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ZODIFY_LEFT || SHIELD_ZODIFY_RIGHT || SHIELD_ZODIFY_DONGLE

config ZMK_SPLIT
    default y

config ZMK_POINTING
    default y

endif

if SHIELD_ZODIFY_LEFT || SHIELD_ZODIFY_RIGHT

if ZMK_DISPLAY

config I2C
    default y

config SSD1306
    default y

endif # ZMK_DISPLAY

endif